---
layout: default
---

<div class="row">

  <div class="col-md-10 col-md-offset-1">

    <h1>Dashboards</h1>

    <br>

    <table class="table table-striped table-bordered">
      <tr>
        <th>Service name</th>
        <th>Github</th>
        <th>Heroku</th>
        <th>URL</th>
        <th>Port</th>
        <th>Tech</th>
        <th>Dependencies</th>
      </tr>

      {% for service in site.data.services.development %}
        <tr>
          <td>{{ service.name }}</td>
          <td><a href="{{ service.github }}">{{ service.github }}</a></td>
          <td>{{ service.heroku }}</td>
          <td><a href="{{ service.url }}">{{ service.url }}</a></td>
          <td>{{ service.port }}</td>
          <td>
            {% for tech in service.tech %}
              {{ tech }} <br>
            {% endfor %}
          </td>
          <td>
            {% for dep in service.dependencies %}
              {{ dep }} <br>
            {% endfor %}
          </td>
        </tr>
      {% endfor %}
    </table>

  </div>

</div>
